site_name: Web3 Security Blog
site_description: Exploring blockchain, math, and smart contracts through a security lens.
site_url: https://avidthinker.github.io
repo_url: https://github.com/avidthinker/avidthinker.github.io

theme:
  name: material
  custom_dir: overrides
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - navigation.footer
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: plotly
          class: mkdocs-plotly
          format: !!python/name:mkdocs_plotly_plugin.fences.fence_plotly

  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  - https://cdn.plot.ly/plotly-latest.min.js
  - https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6
  - javascripts/header.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - styles/math.css
  - styles/images.css
  - styles/header.css
  - styles/contrast.css
  - styles/tables.css

plugins:
  - search
  - blog:
      blog_dir: .
  - tags
  - plotly
  - mkdocs-simple-hooks:
      hooks:
        on_pre_build: "scripts.main:run_all"
